table {
	border: 1px solid silver;
	width: 60%;
}
td:hover {
	background-color: purple;
	color: DarkOrange;
	text-decoration: underline;
	text-shadow: 2px 2px White;
}	
tr, th {
	background-color: black;
	color: FloralWhite;
}
tr, td {
	background-color: WhiteSmoke;
	color: black
}	
th {
	text-align: center;
	font-size: 30px;
	text-decoration: underline;
}
td {
	text-align: center;
	font-size: 25px;
}
.center {
	margin-left: auto;
	margin-right: auto;
}	
